.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2f4f4f;
}

h1 {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: white;
}

.button-container {
  display: flex;
  gap: 20px;
  width: 40%;
}

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  width: 70%;
  color: #070505;
  background-color: #c5ea31;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom {
  padding: 10px 20px;
  font-size: 16px;
  max-width: 100%;
  color: #070505;
  background-color: #c5ea31;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #c5ea31;
}

.img-right {
  height: 50%;

  border-radius: 50%;
  padding-bottom: 20px;
}
